* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 40, 40);
}

.select {
  background-color: black;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  border-bottom: 2px solid black;
  font-weight: bold;
  appearance: none;
  padding-block: 12px;
  padding-inline: 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#cats {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 35px;
  width: 140px;
  border-radius: 0px 0px 10px 10px;
  background-color: black;
  padding-bottom: 10px;
  z-index: 10000 !important;
  transition: display 0.3s ease;
}

.select:hover #cats {
  display: flex;
  z-index: 10000;
  box-shadow: 0px 10px 15px rgb(60, 60, 60);
}

#cats a {
  color: var(--text-color);
  text-decoration: none;
  padding-block: 10px;
  font-size: 18px;
  z-index: 10000;
  position: relative;
}

#cats a::after {
  content: "";
  height: 2px;
  position: absolute;
  z-index: 10000;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  margin: 0;
  background-color: rgb(73, 31, 135);
  transition: width 0.15s ease;
}

#cats a:hover::after {
  width: 50%;
  background-color: rgb(73, 31, 135);
  transition: width 0.2s ease;
}

.movingbar {
  transform: translateX(0px) !important;
}

.macsidebar {
  position: fixed;
  top: 9vh;
  left: 3px;
  transform: translateX(-120%);
  transition: transform 0.15s ease;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  padding-inline: 8px;
  height: 90vh;
  z-index: 10000000;
  border-radius: 15px;
  padding-block: 10px;
  overflow: auto;
}

.macsidebar img {
  width: 38px;
  margin-top: 2px;
}

.macsidebar a {
  display: block;
  transition: transform 0.2s ease;
}

.macsidebar a:hover {
  transform: scale(1.2);
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.nav-link {
  padding-block: 12px;
  padding-inline: 20px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  position: relative;
  color: white;
  border-bottom: 2px solid black;
  transition: border-bottom 0.3s;
}

.nav-link::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  margin: 0;
  background-color: rgb(73, 31, 135);
  transition: width 0.15s ease;
}

.nav-link:hover::after {
  width: 80%;
  background-color: rgb(73, 31, 135);
  transition: width 0.2s ease;
}

.logo {
  margin-inline: 35px;
  height: 32px;
}

.logo img {
  height: 32px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-block: 25px;
  font-size: 14px;
}

.wrap {
  width: 60%;
  margin-inline: 20%;
}

.post-title {
  color: white;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  padding-block: 50px;
}

.post-date {
  font-size: 18px;
  color: white;
}

.post-paragraph {
  color: white;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.post-list {
  color: white;
  padding-inline: 20px;
  font-size: 20px;
  padding-bottom: 10px;
}

.post-list li {
  margin-bottom: 20px;
}
